<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @order.order_status_id %>
</p>

<p>
  <b>Price:</b>
  <%= @order.amount %>
</p>


<%= link_to 'Edit', edit_admin_order_management_order_path(@order) %> |
<%= link_to 'Back', admin_order_management_orders_path %>
